body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
input,
select,
option,
textarea {
	outline: none !important;
}
html,
body,
#app {
	width: 100%;
	min-height: 100vh;
	height: 100%;
	font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.textCenter{
	width: 100%;
	text-align: center;
}
.text_over_1 {
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-box-orient: vertical;
	text-overflow: -o-ellipsis-lastline;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	lines: 1;
	text-overflow: ellipsis;
}
.text_over_2 {
	-webkit-line-clamp: 2;
}
 .text_over_1_ {
 	overflow: hidden;
 	/* text-overflow: ellipsis;
 	-webkit-box-orient: vertical;
 	text-overflow: -o-ellipsis-lastline;
 	display: -webkit-box;
 	-webkit-line-clamp: 1;
 	lines: 1;
 	text-overflow: ellipsis; */
 	 position: relative;
 	 line-height: 24px;
 	   max-height:48px;
 }
 .text_over_1_::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0px;
  padding-left:30px;
  background: -webkit-linear-gradient(left, transparent, #fff 50%);
  background: -o-linear-gradient(right, transparent, #fff 50%);
  background: -moz-linear-gradient(right, transparent, #fff 50%);
  background: linear-gradient(to right, transparent, #fff 50%);
 }
 .alertConfim{
	 background:#F56C6C !important;
	 background-color: #F56C6C !important;
	 border-color: #F56C6C !important;
 }
 .alertConfim:hover{
	  background:#F56C6C !important;
	 background-color: #F56C6C !important;
	 border-color: #F56C6C !important;
 }